div{
  background-color: grey;
  width: 500px;
  height: 610px;
  text-align: center;
  font-family: sans-serif;
}
#calculator{
  height: 500px;
  width: 550px;
  background-color: grey;
}

#calculator div{
  width: 125px;
  height: 125px;
  border: 3px solid black;
  text-align: center;
  font-size: 40px;
  display:inline-block;
  line-height: 125px;
}

#solution_bar {
  background-color: white;
  width: 300px;
  height: 50px;
  margin: auto;
  border: 3px solid black;
}
